.root{

}

.buttonStyle {
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.bgImage{
    -fx-background-image: url("../../../video/gradienta.jpg");
    -fx-background-size: stretch;
}

.buttonStyle2 {

    -fx-border-radius:10px;
}


.buttonStyle:hover {
    -fx-border-width: 4px;
}

.buttonBig {
    -fx-font-size: 25px;
}

.buttonMedium {
    -fx-font-size: 15px;
}

.buttonSmall {
    -fx-font-size: 10px;
}

.buttonGreen {
    -fx-background-color: #8FD14F;
}

.buttonRed {
    -fx-background-color: #ff2f2f;
}

.buttonYellow {
    -fx-background-color: #FAC710;
}

.buttonWhite {
    -fx-background-color: #fff;
}

.textfieldStyle{
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-font-weight: bold;
}

.textfieldError {
    -fx-border-color: #ff2f2f;
}

.textfieldBig {
    -fx-font-size: 30px;
}

.textfieldMedium {
    -fx-font-size: 20px;
}

.textfieldSmall {
    -fx-font-size: 15px;
}

.textfieldWhite {
    -fx-background-color: #11ffee00;
    -fx-text-fill: #FFFFFF;
}

.buttonMenu {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-pref-width: 250px;
}
